$main-color: #585552;
$secondary-color: #e87676;

$main-background: #e6e6e6;
$secondary-background: #585552;
$global--background: #9a9998;

$main-text: #585552;
$light-text: #ffffff;

$shadows: rgba(0, 0, 0, 0.49);